body {
    
}
#logo {
    width: 25%;
    margin-left: 5em;
    margin-top: 2em;
}
#navbarNav {
    margin-left: 38em;
    margin-right: 5em;
}
.navbar-nav {
    
}
.nav-item {
    padding-right: 1em;
    padding-left: 1em;
}
#header_text {
    margin-top: 14em;
    margin-left: 7em;
}
#header_text p {
    font-size: 2em;
    margin-bottom: 0;
}
#header_text h1 {
    font-size: 5em;
    margin-bottom: .5em;
}
#header_text_sm {
    font-size: 1.5em;
    margin-top: 1.5em;
}
/*
h2 {
    font-size: 2.25em;
    margin-left: 3.33em;
    margin-top: 6em;
}
h1 {
    font-size: 5em;
    margin-left: 1.5em;
}
h3 {
    font-size: 2.1em;
    font-weight: 300;
    margin-left: 3.5em;
}
*/